@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* Estilos para los elementos de lista en la barra lateral */
li {
  margin-bottom: 20px; /* Espacio entre los elementos */
  background-color: #34495e; /* Fondo más oscuro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
}

/* Estilos específicos para los enlaces dentro de los elementos de lista */
li a {
  color: white; /* Color del texto */
  text-decoration: none; /* Eliminar subrayado del enlace */
  display: block; /* Hace que el enlace ocupe todo el contenedor del <li> */
}
